.main{
    height:80%;
    width: 40%;
    margin-left:370px ;
    margin-top: 80px;
    border: 1px solid rgb(196, 189, 189);
    border-radius: 6px;
}

.head{
    
    height:100%;
    width:100%
}

h2{
    font-weight: lighter;
}

.example-button{
    margin-left: 330px;
}

.f{font-size: larger; color:#4285F4; }
.u{font-size: larger;color:#DB4437; }
.n{font-size: larger;color:#F4B400; }
.d{font-size: larger;color: #4285F4;}
.o{font-size: larger;color:#DB4437; }
.o-g{font-size: larger;color:#0F9D58; }