<div class="main">
    <div fxLayout="column" fxLayoutAlign="start center" class="head">
        <h3><span><span class="f">F</span><span class="u">u</span><span
            class="n">n</span><span class="d">d</span><span class="o">o</span><span
            class="o-g">o</span></span>
        </h3>
        <h1>Find your email</h1>
        <h2>Enter your phone number or recovery email</h2>
        
        <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
            <p>
                <mat-form-field appearance="outline" [style.width.px]=400>
                    <mat-label>Email or Phone Number </mat-label>
                    <input matInput placeholder="Email or Phone Number" formControlName="email">
                    <mat-error>Enter Email or Phone No</mat-error>
                </mat-form-field>
            </p>
            <div >
                <button mat-flat-button color="primary" class="example-button">Next</button>
            </div>
        </form>
    </div>
</div>

