.head1{
   border: 1px solid rgb(196, 189, 189);
   border-radius: 6px;
   width: 35%;
   height:-50%;
   margin-top: 40%;
}
.head{
    height:40%;
    // margin-bottom: -50%;
    
}
.text{
    
    width: 350px;
    // height: 900px;
    margin-bottom: 150px;
    
}
.space{
    width: 80%;
    margin-left: 0%;
    // height: 80%;
}

.example-label {
//     display: table-cell;
//     font-size: 14px;
//    height: 90px;
    margin-left: -15px;
//     min-width: 0px;
    ;
  }

.example-label1{
    width: 500px;
    margin-left: -94px;

}
  


h2{
    height: 70px;
    font-size: 15px;
    font-weight: lighter;
}
h1{
    height: 20px;
}

.f{font-size: larger; color:#4285F4; }
.u{font-size: larger;color:#DB4437; }
.n{font-size: larger;color:#F4B400; }
.d{font-size: larger;color: #4285F4;}
.o{font-size: larger;color:#DB4437; }
.o-g{font-size: larger;color:#0F9D58; }

.h4{
    height: 20px;
    padding: 40%;
}